:root {
    --primary-color: #7e22ce;
}

body {
    font-family: 'Inter', sans-serif;
}

.bg-primary {
    background-color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color);
}

.border-primary {
    border-color: var(--primary-color);
}

.ring-primary {
    --tw-ring-color: var(--primary-color);
} 